@model Usuario
@{
    ViewData["Title"] = "guardar";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="~/Home/guardarUsuario" method="post">
    @Html.LabelFor(d => d.nombre)
    @Html.TextBoxFor(d => d.nombre, "", new { @class = "form-control" })

    @Html.LabelFor(d => d.apellido)
    @Html.TextBoxFor(d => d.apellido, "", new { @class = "form-control" })
    
    @Html.LabelFor(d => d.correo)
    @Html.TextBoxFor(d => d.correo, "", new { @class = "form-control"})

    @Html.LabelFor(d => d.contraseña)
    @Html.TextBoxFor(d => d.contraseña, "", new { @class = "form-control"})

    <input type="submit" name="guardarUsuario" value="guardar" />

</form>

@section Scripts{ 
    @*<script asp-append-version="true" type="text/javascript">
        $('#formRegisterProcuct').submit(function (e) {
            e.preventDefault();
            var URL = "@Url.Action("GuardarProducto", "Producto")";
            var datos = new FormData(document.formRegistrarProducto);
            var data;
            try {
                fetch(URL, {
                    method: 'POST',
                    body: datos
                }).then(function (response) {
                    if (response.ok) {
                        response.json().then(function (data) {
                            switch (data.result) {
                                case true:
                                    document.location.href = "@Url.Action("MisProductos","Producto")";
                                    break;
                                case false:
                                    $("div.message").remove();
                                    $("#alertBody").after("<div class='message'>" + data.mensaje + "</div>");
                                    $('#modalAlerta').modal('show');
                                    //Hacemos desaparecer el modal
                                    setTimeout(function () { $('#modalAlerta').modal('hide'); }, 9000);
                                    break;
                                default:
                                    //$("#formRegisterProcuct").html(data);
                                    break;

                            }
                        });
                    } else {
                        $("div.message").remove();
                        $("#alertBody").after("<div class='message'>Error de conexion.</div>");
                        $('#modalAlerta').modal('show');
                        //Hacemos desaparecer el modal
                        setTimeout(function () { $('#modalAlerta').modal('hide'); }, 9000);
                    }
                });
            }
            catch (error) {
                console.error('Error:', error);
            }

        });
    </script>*@
}

